{% extends 'base.html' %}

{% block content %}
    {% for post in object_list %}
    <div class="post-entry">
        <h2><a href="{% url 'post_detail' post.pk %}">{{ post.title }}</a></h2>
        <p>by {{ post.author }} | {{ post.date}}</p>
        <p>{{ post.body }}</p>
    </div>

    <div>
        {% for comment in post.comment.all %}
        <p>
            <b>{{ comment.author }}</b>
            <span>{{comment}}</span>
        </p>
        {% endfor %}
    </div>
    {% endfor %}
{% endblock %}